---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section class="py-12">
    <h1 class="text-2xl sm:text-3xl font-display pb-6">
      Well, this is awkward
    </h1>
    <h2 class="text-lg sm:text-xl pb-6">404 - Page not found</h2>
    <p>
      It seems that this page does not exist. If you want to return to safety, <a
        class="underline underline-offset-4 font-medium"
        href="/">click here to go home</a
      >.
    </p>
  </Section>
</Layout>
