---
export type Props = {
  url: string;
  class?: string;
  external?: boolean;
  "aria-label"?: string;
};

const { url, external, class: className } = Astro.props;
---

<a
  href={url}
  class:list={[
    "underline-offset-4 underline font-medium flex items-center focus:outline-2 focus:outline-offset-2 focus:outline-foreground transition-colors hover:text-accent",
    className,
  ]}
  target={external ? "_blank" : "_self"}
  rel={external ? "noreferrer" : undefined}
  aria-label={Astro.props["aria-label"]}
>
  <slot />
</a>
